/* Coolors Exported Palette - coolors.co/ff8d1c-ffcb30-ffffff-302f2f-e63946

/* HSL */
/* $color1: hsla(30%, 100%, 55%, 1);
$color2: hsla(45%, 100%, 59%, 1);
$color3: hsla(0%, 0%, 100%, 1);
$color4: hsla(0%, 1%, 19%, 1);
$color5: hsla(355%, 78%, 56%, 1); */

/* RGB */
/* $color1: rgba(255, 141, 28, 1);
$color2: rgba(255, 203, 48, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(48, 47, 47, 1);
$color5: rgba(230, 57, 70, 1); */
.navbar{
    padding: 3px 10px;
}

.navbar-dark .navbar-brand {
    color: orange;
}

.wrapper-content {
    text-align: center;
    margin: 2vw;
}

.wrapper-content .wrapper-center{
    display:flex;
    justify-content:center;
    align-items:center;
}

.wrapper-center .wrapper-contact{
    display: flex;
    margin: 200px 200px;
}

.wrapper-contact .contact-box{
    text-align: justify;
}


.btn.btn-contact { 
    color: #ffffff; 
    background-color: #FF832B; 
    border-color: #FFA72B; 
  } 
   
  .btn-contact:hover, 
  .btn-contact:focus, 
  .btn-contact:active, 
  .btn-contact.active, 
  .open .dropdown-toggle.btn-contact { 
    color: #ffffff; 
    background-color: #FFA72B; 
    border-color: #FFA72B; 
  } 
   
/*    
  .btn-contact.disabled, 
  .btn-contact[disabled], 
  fieldset[disabled] .btn-contact, 
  .btn-contact.disabled:hover, 
  .btn-contact[disabled]:hover, 
  fieldset[disabled] .btn-contact:hover, 
  .btn-contact.disabled:focus, 
  .btn-contact[disabled]:focus, 
  fieldset[disabled] .btn-contact:focus, 
  .btn-contact.disabled:active, 
  .btn-contact[disabled]:active, 
  fieldset[disabled] .btn-contact:active, 
  .btn-contact.disabled.active, 
  .btn-contact[disabled].active, 
  fieldset[disabled] .btn-contact.active { 
    background-color: #FF832B; 
    border-color: #FFA72B; 
  }  */
   
.wrapper-content-intro{
    padding: 20px;
}
.wrapper-content-intro #image-photo{
    width: 20vw;
    height: 20vw;
    margin : 0 0 1vw 0;
    border: solid 0.5vw rgba(48, 47, 47, 1);
}   

.horizontal-line {
    padding-right: 100px;
    padding-left: 100px;
}

.col-md{
    border-radius: 20px;
    margin : 10px;
    padding: 10px;
    border: solid 1px rgba(170, 170, 170);
}

/* .col-md#left{
    border: solid 1px gray;
}

.col-md#mid{
    border: solid 1px  rgb(252, 196, 41, .500);
}

.col-md#right{
    border: solid 1px rgb(43, 201, 64, .500);
} */

.wrapper-col-top{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;

}

.col-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
}


.col-img#left{
    background-color: rgb(233, 57, 57);
}

.col-img#mid{
    background-color: rgb(252, 196, 41);
}

.col-img#right{
    background-color: rgb(43, 201, 64);
}

.fas {
    font-size: 30px;
    color: white;
}

.fas.fa-paper-plane{
    font-size: 140px;
    color: rgb(59, 59, 59);
    margin: 0px 30px;
}

#span-time-stamp{
    margin : 0 1%  0 0 ; 
}

.wrapper-col-content .content-justify{
    text-align: justify;
}

.wrapper-col-content .content-justify h4{
    text-align: center;
}

.wrapper-col-content .content-justify .title-year-box h4{
    text-align: justify;
    margin: 0;
}

.wrapper-col-content .title-year-box{
    align-items: flex-end;
}

.wrapper-form{
    margin: 5vw;   
}

.wrapper-schedule-list{
    text-align: center;
    margin: 2% 20% 1% 20%;
}

.wrapper-schedule{
    word-wrap: break-word;
    text-align: justify;
    padding: 1% 3% 1% 3%;
    margin: 1% 0 1% 0 ;
    border-radius: 25px;
    border: solid 1px rgb(179, 179, 179);
}

.schedule-bottom{
    margin: 2% 20% 1% 20%;
    text-align: end;
}

.bottom-bar{
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (max-width :980px ){
    .wrapper-schedule-list{
        margin: 1%;
    }

    .schedule-bottom{
        text-align: center;
    }
}
