{% extends 'base.html' %}
{% block title %}
    Arnastria - kontak
{% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="wrapper-content">
        <div class="wrapper-center">
            <div class="wrapper-contact">
                <i class="fas fa-paper-plane"></i>
                <div class="contact-box">
                    <h1>Hubungi Saya Kapanpun!</h1>
                    <p>Punya ide-ide menarik dan ingin kita kerjasama bareng ? Bisa banget! <br>
                        Cuma ingin menyapa dan mengobrol soal meme ? Silahkan saja! <br>
                        <b>Jangan ragu </b>dan<b> hubungi saya</b>  di kontak dibawah ini :
                    </p>
                    <div class="btn-group">
                        <a href="mailto:arnas.bgr@gmail.com" type="button" class="btn btn-contact">Email</a>
                        <a href="http://www.linkedin.com/in/arnastria" type="button" class="btn btn-contact">LinkedIn</a>
                        <a href="https://www.instagram.com/arnastria/" type="button" class="btn btn-contact">Instagram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}