{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="wrapper-content">
        <div class="wrapper-content-intro">
            <img class="rounded-circle" id="image-photo" src="https://files.catbox.moe/r0oil1.png">
            <h1>Halo !</h1>
            <p>Nama saya <b>Ariq Naufal Satria</b>, biasa dipanggil Ariq / Arnastria.
                Seseorang yang memiliki ketertarikan yang tinggi terhadap teknologi dan juga internet culture. <br>
                Sedang belajar dan mendalami Sistem Informasi dan juga tertarik akan bisnis secara umum.
                Menghabiskan waktu dengan membaca buku, berselancar di internet dan belajar Desain Grafis.
            </p>
            <div class="horizontal-line">
                <hr>
            </div>
        </div>
        <div class="wrapper-row">
            <div class="row">
                <div class="col-md" id="left">
                    <div class="wrapper-col-top">
                        <div class="col-img" id="left">
                            <i class="fas fa-graduation-cap"></i>
                        </div>
                    </div>
                    <div class="wrapper-col-content">
                        <h2>Pendidikan dan Afiliasi</h2>
                        <hr>
                        <div class="content-justify">
                            <div class="title-year-box">
                                <h4>SMA Negeri 1 Bogor</h4>
                                <span>2014-2017</span>
                            </div>
                            <br>
                            <div class="title-year-box">
                                <h4>Universitas Indonesia</h4>
                                <span>2017-Sekarang</span>
                            </div>
                            <p>Jurusan Sistem Informasi
                                Fakultas Ilmu Komputer, Depok.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md" id="mid">
                    <div class="wrapper-col-top">
                        <div class="col-img" id="mid">
                            <i class="fas fa-code"></i>
                        </div>
                    </div>
                    <div class="wrapper-col-content">
                        <div class="content-justify">
                            <h2>Kemampuan dan Keahlian</h2>
                            <hr>
                            <h4>Python</h4>
                            <p>Memahami dasar-dasar dari bahasa python. Memiliki sedikit pengalaman membuat GUI dengan Python.
                                Sedang mendalami framework Django untuk keperluan akademis.
                            </p>
                            <h4>Java</h4>
                            <p>Memahami dasar-dasar dari bahasa Java dengan konsep OOP. Memiliki pengalaman
                                menggunakan Java Swing dan AWT GUI. Tengah mendalami struktur data dan algoritma Java di perkuliahan.
                            </p>
                            <h4>Android</h4>
                            <p>Memiliki pengalaman 2 tahun dengan pemrograman Android berbasis Java.
                                Paham dasar-dasar dari Android Studio beserta Java dan XML. Tertarik mencoba memperluas
                                pemrograman aplikasi ponsel dengan bahasa lain seperti react dan Flutter.
                            </p>
                            <h4>Desain Grafis</h4>
                            <p>Telah berpengalaman membuat desain visual selama lebih dari 4 tahun.
                                Membuat desain poster, spanduk, dan logo untuk beberapa organisasi dan kepanitaan 
                                di SMA maupun selama berkuliah. Menggunakan aplikasi Photoshop, Illustrator, dan juga PowerPoint
                            </p>
                        </div>
                        <a href="#.html" class="btn btn-lg">Lihat Portofolio</a>
                    </div>
                </div>
                <div class="col-md" id="right">
                    <div class="wrapper-col-top">
                        <div class="col-img" id="right">
                            <i class="fas fa-gamepad"></i>
                        </div>
                    </div>
                    <div class="wrapper-col-content">
                        <h2>Ketertarikan dan Hobi</h2>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}