{% load staticfiles %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Arnastria</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>     
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Portofolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Kontak</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'schedule' %}">Jadwal</a>
      </li>
      </ul>
      <div class="my-2 my-lg-0">
        <a class="btn btn btn-light my-2 my-sm-0" href="{% url 'register' %}">Daftar</a>
      </div>
    </div>
</nav>