<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Hapus Semua Jadwal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Apakah anda yakin ingin menghapus seluruh jadwal ?
            <div style="text-align : center; margin : 2%"><img src="https://media.giphy.com/media/5xaOcLwEvFOizxHVyVy/200w_d.gif"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a type="button" class="btn btn-danger" href="{% url 'schedule_delete_all' %}">Hapus Jadwal</a>
        </div>
      </div>
    </div>
  </div>