{% extends 'base.html' %}
{% block title %}
    Arnastria - Isi Jadwal
{% endblock title %}
{% block content %}
<div class="wrapper-form">
    <h1>Tambah Jadwal</h1>
    <form id="form_schedule" method="POST" action="{% url 'schedule_submit' %}">
        {% csrf_token %}
        {{Form}}
    <br>
    <button type = "submit" class = "btn btn-primary">Masukan data</button>
    </form>
</div>
{% endblock content %}