{% extends 'base.html' %}
{% block title %}
    Arnastria - Jadwal
{% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="wrapper-schedule-list">
        <h1>Jadwal Kegiatan</h1>
        {% for ScheduleModels in schedule_list %}
        <div class="wrapper-schedule">
            <h3 style="margin : 0 0 0.3% 0 ">{{ScheduleModels.name}}</h3>
            <div style="display : flex">
                <span style="margin : 0 1%  0 0 ">{{ScheduleModels.date|date}}</span>
                <span id = "span-time-stamp">{{ScheduleModels.time}}</span>
                <i style="color :black ; font-size : 20px; margin : 0 1% 0 0" class="fas fa-map-marker-alt"></i>
                <span>{{ScheduleModels.place}}</span>
            </div>
            <div style="display : flex">
                <span>{{ScheduleModels.category}}</span><br>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="schedule-bottom">
        <a class="btn btn-primary" href="{% url 'schedule_form' %}">Tambah Jadwal</a>
        <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" style="color : white">Hapus Semua Jadwal</a>
    </div>
    {%include 'schedule_delete_modal.html' %}
</div>
{% endblock content %}